body {
    font-family: Arial;
    background: #f4f6f9;
}

.card {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px #ccc;
}

input, select, button {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
}